h1{
    color: red;
}

#first-paragraph{
    color: green;
}

.second-paragraph{
    color: blue;
    font-size: 20px;
}

h2{
    color: #333;
}
.tieu-de{
    color: green;
}

#id-tieu-de{
    color: red;
}

#menu p{
    color: brown;
}

.relative{
    position: relative;
    top: 100px;
    left: 20px;
}

.box{
    width: 100%;
    height: 1000px;
    background-color: green;
    position: relative;
}
.box2{
    width: 600px;
    height: 100px;
    background-color: yellow;
    position: absolute;
}
.box-child{
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    top: 50px;
    left: 50px;
}

.header{
    margin-top: 100px;
    width: 100%;
    height: 64px;
    background-color: red;
    position: fixed;
    top: 0;
    /* z-index: 1; */
}